/* General Styles */
*{
    padding: 10;
    margin: 10;
    font-family: 'Arial' sans-serif;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}

/* the layout skelleton */
.homePage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.homeFeed{background-color: rgb(13, 143, 143);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#homeMenu{
    background-color: antiquewhite;
    width: 20%;
}
#header{
    background-color: rgb(79, 105, 105);
}
.homePage{
    background-color: bisque;
}
.pinContainer{background-color: blue;

}