/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: #E0E0E0;
    height: 100vh;
    display: flex;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1E1E1E;
    border-radius: 14px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
/* Header */
header {
    height: 10%;
    max-height: 64px;
    min-height: 40px;
    background: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #333;
    user-select: none;
}

/* header LEFT options */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* header SEARCHBAR */
#searchBar {
    width: 25%;
    max-width: 500px;
    min-width: 150px;
    padding: 8px 12px;
    background: #333;
    border: 1px solid #444;
    color: #fff;
    border-radius: 16px;
    outline:none;
    transition: 0.3s;
}
#searchBar::placeholder {
    color: #888;
}
#searchBar:hover{
    transform: scale(1.02);
}
#searchBar:focus {
    border-color: #888;
}

/* header RIGHT options */
.logo h2 {
    color: #E0E0E0;
    font-size: 16px;
}

/* Main Body */
.mainBody {
    display: flex;
    flex: 1;
}

/* Left Menu */
#homeMenu {
    width: 20%;
    max-width: 240px;
    min-width: 160px;
    background: #181818;
    border-right: 1px solid #2C2C2C;
}

/* main menu decoration */
.mainMenu{
    border-bottom: 1px solid #ffffff16;
    user-select: none;
}
/* buttons like hoome notes settings*/
.mainMenuBtn{
    min-height: 21px;
    display: flex;
    text-align: start;
    align-content: center;
    align-items: end;
    padding: 12px;
    cursor: pointer;
    border-radius: 0 24px 24px 0;
    gap: 5px;
}
.mainMenuBtn:hover{
    background-color: #353030;
    transition: 0.3s ease-in-out; 
    }
.mainMenuBtn::after{
    content: '';
    border-color: 1px solid #888;
}
.menuImg{
    filter: invert(1);
}
.menuText{
    font-size: large;
}
