.notesPageContainer{ background-color: #000000;
                    height: 600px;
                    
                    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(100vh - 64px);
    scrollbar-width: none;

}
.notesPageNotes{background-color: #888;
    height: 300px;
    width: 300px;
    border-radius: 16px;
    &:hover {
        transform: scale(1.075);
        transition: 0.3s ease-in;
    }
}