
#notesPageContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 24px;
    gap: 36px;
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(100vh - 64px);
    scrollbar-width: none;
    justify-content: center;
}
.notesPageNotes{background-color: #888;
    height: 350px;
    width: 300px;
    padding: 16px;
    border-radius: 16px;
    user-select: none;
    &:hover {
        transform: scale(1.075);
        transition: 0.15s ease-in;
    }
}

/* notes card title */
.notesContent{
    gap: 24px;
}

.notesContentTitle{
    font-size: xx-large;
    font-weight: bold;
    height: 1.8em;
    line-height: 0.9;
    display: -webkit-box;
    -webkit-box-orient: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 12px;
}
.notesContentBody{
    padding: 0 8px;
    font-size: larger;
    height: 12em;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* blurOverlay in bg of note editing box */
#blurOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.203);
    backdrop-filter: blur(8px); /* blure backgroud*/
    opacity: 0;
    animation: fadeIn 0.15s ease-in forwards;
}
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}}
#blurOverlay{
    opacity: vis;
}

/* note edit box*/
#noteEditBox{
    position: fixed;
    top: 86px;
    left: 50%;
    transform: translate(-50%);
    width: 65vw;
    height: 65vh;
    padding: 14px;
    border-radius: 16px;
    background-color:#333;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.46);
}
input:focus{
    background-color: #33333300;
    outline: 0;
    border: 0;
}
#titleInput{
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: x-large;
    font-weight: bold;
    outline: 0;
    border: 0;
}
#bodyInput{
    width: 100%;
    height: 80%;
    resize: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: large;
    font-weight: 200;
    outline: 0;
    border: 0;
}
#noteEditBoxBtns{
    display: flex;
    justify-content: end;
    gap: 12px;
}
.noteEditBoxBtn{
    height: 32px;
    padding: 3px 8px;
    font-size: 14px;
    user-select: none;
    color: aliceblue;
    border: 1px solid blue;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease;
    background-color: transparent;
}
.noteEditBoxBtn:hover{
    background-color: blue;
    transform: scale(1.1);
    transition: 0.15s ease-in-out;
}